.lw { font-size: 60px; }

.box
{
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  height: 500px;
  margin: auto;
  width: 300px;
}
.header
{
 text-align: center;
 height: 30px;
 border-bottom-style: solid;
 text-transform: uppercase;
 background-color: black;
 color: white;
 font-weight: bold;
  
}

.bill
{
  margin-left: 20px;
}


.btn
{
  background-color: #993333;
  color: white;
  margin-left: 50px;
  border-radius: 8px;
  width:200px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

#totaltip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
   display: none;
   text-transform: uppercase;
  
}

#totaltip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: none;
  text-transform: uppercase;
}

#totaltip sup {
  font-size: 20px;
  top: -18px;
}

#totaltip small {
  font-size: 20px;
  font-weight: bold;
  display: none;
  text-transform: lowercase;
}
